version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: edudocs-db
    environment:
      MYSQL_ROOT_PASSWORD: root       # <-- root password
      MYSQL_DATABASE: edudocs
      MYSQL_USER: user
      MYSQL_PASSWORD: root            # <-- simple password for user too
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5
      timeout: 5s

  app:
    build: .
    container_name: edudocs-app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_USER: user
      MYSQL_PASSWORD: root          # <-- user password
      MYSQL_DB: edudocs
